<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body><h1>INTERNALS</h1>
    <% for (var i =0; i < internalData.length;  i++ ) { %>
          <a href="/course/internal_list/<%= dynamicId%>/<%= internalData[i].internal_no %>">view marks</a>
          <div> INTERNAL No  : <%= internalData[i].internal_no %></a>&nbsp;&nbsp;&nbsp; </div>
        
          <% } %>
          <a href="/course/add_internal/<%= dynamicId%>">Add internals</a><br>
          <h1>ASSIGNMENT</h1>
    <% for (var i =0; i < assignmentData.length;  i++ ) { %>
          <a href="/course/assignment_list/<%= dynamicId%>/<%= assignmentData[i].assignment_no %>">view marks</a>
          <div> Assignment No  : <%= assignmentData[i].assignment_no %></a>&nbsp;&nbsp;&nbsp; </div>
          <% } %>
          <a href="/course/add_assignment/<%= dynamicId%>">Add assignment</a><br>
          <h1>END SEMESTER</h1>
          <a href="/course/add_sem/<%= dynamicId%>">Add semester marks</a><br>
          <a href="/course/gen_result/<%= dynamicId %>">generate</a>
</body>
</html>